# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Flask-specific
instance/
*.log

# Environment variables & configs
.env
*.env
config.py

# Database files
*.sqlite3
*.db

# Migrations
migrations/

# Python packaging
*.egg-info/
dist/
build/

# IDE / Editor files
.vscode/
.idea/
*.iml

# OS-specific
.DS_Store
Thumbs.db
